<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Google Weather Sample Application</display-name>

    <servlet>
        <servlet-name>GoogleWeatherServlet</servlet-name>
        <servlet-class>org.exoplatform.demo.weather.GoogleWeatherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GoogleWeatherServlet</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>memcachedServer</env-entry-name>
        <env-entry-value>127.0.0.1:11211</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

</web-app>
